section {
  width: 80%;
}

body {
  display: flex;
  justify-content: center;
}

.nav {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 1rem;
}

.nav-box {
  height: 2rem;
  border: 2px solid red;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 80%;
}

.top {
  display: grid;
  grid-template-columns: 1fr;
}

.container {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  height: 4rem;
}

.sm-logo {
  width: 40px;
  height: 40px;
  border: 2px solid red;
  margin-left: 5px;
}

.hero-banner {
  grid-column-start: 1;
  grid-column-end: 5;
  height: 10rem;
  border: 2px solid red;
}

main {
  margin: 2rem 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 0.5rem;
}

.card {
  border: 2px solid red;
  height: 10rem;
}

.profile-1x1 {
  border: 2px solid red;
  height: 5rem;
  font-weight: bold;
}

.profile-1x2 {
  border: 2px solid red;
  height: 10rem;
  font-weight: bold;
}

.profile-2x1 {
  border: 2px solid red;
}

.profile-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  border: 2px solid red;
  grid-gap: 0.5rem;
}

.end-banner {
  grid-column-start: 1;
  grid-column-end: 4;
  height: 10rem;
  border: 2px solid red;
}
